# Miscellany files
include LICENSE
include README.rst
include tox.ini
include requirements.txt
include package.json

# Theme
recursive-include sphinx_docs_theme *
recursive-include sphinx_docs_theme *.css
recursive-include sphinx_docs_theme *.html
recursive-include sphinx_docs_theme *.js
recursive-exclude sphinx_docs_theme *.pyc
recursive-exclude sphinx_docs_theme *.pyo

# Documentation
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
prune docs/_build