# Installation and deployment
setuptools==46.1.1
twine==3.1.1
bernardomg.tox-test-command==1.1.5
bernardomg.version-extractor==1.0.2

# Testing
tox==3.14.5

# Sphinx
Sphinx==2.4.4

# Documentation
Pygments==2.6.1