# Installation and deployment
setuptools==38.4.0
twine==1.13.0
bernardomg.tox-test-command==1.1.4
bernardomg.version-extractor==1.0.2

# Testing
tox==3.9.0

# Sphinx
Sphinx==1.8.5

# Documentation
Pygments==2.3.1